body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    background: #262626;
}
.heart {
    width: 100px;
    height: 100px;
    background: red;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 120px red;
    animation: heart 0.6s linear infinite;
}
@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    100% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
    
}
.heart::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    top: -50%;
    border-radius: 60px;
    box-shadow: -10px 10px 120px red;
}
.heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    right: -50%;
    border-radius: 60px;
    box-shadow: -10px 10px 120px red;
}
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../aa.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	min-height: 100px;
}
ul{
	float:right;
	list-style-type: none;
	margin-top: 30px;
	margin-right:60px ;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
background-color:#fff;
	color: #000;

}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 85px;
}

.button{
	position: absolute;
	top: 65%;
	left: 51%;
	transform: translate(-50%,-90%);
}

.btn{
	border: 1px solid #fff;
	padding: 5px 20px;
	color: #fff;
	transition: 0.6s ease;
	font-size: 18px;
	text-decoration: none;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}

.sub-menu{
	display: none;
    top:6%;
    position: relative;
}

.sub-menu ul{
	position: absolute;

}

.main ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background-color: rgb(0,45,117);
	margin-top: 12px;
	margin-left: -8px;
}

.main ul li:hover .sub-menu ul 
{
	display: block;
	margin:6px;

}
.main ul li:hover .sub-menu ul li
{
	width: 75px;
	padding: 5px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: left;
	border-radius: 0;
	
}

.main ul li:hover .sub-menu ul li:last-child 
{
	border-bottom: none;
}
.container{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-gradient{
    border:0;
    box-shadow:0 5px 10px #00000044;
    padding: 20px 40px;
    border-radius:5px;
    background-image:
    linear-gradient(to right,blue,skyblue,blue);
    background-size: 200% auto;
    cursor: pointer;
    color:white;
    text-transform:uppercase;
    transition:200ms;
}

.btn-gradient:hover{
    background-position: right center;
    box-shadow:0 15px 10px #00000044;
}


